body {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1.1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    border: 0.3em solid #6495ED;
}

main form {
    padding: 1%;
}

header h1 {
    text-align: center;
    background: #6495ED;
}

form fieldset{
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 2%;

}

form fieldset legend{
    text-align: center;
}

.datos {
    background: #DD403D;
}

.datos legend {
    background: #DD403D;
}

.carrera {
    background: #DAA62B;
}

.carrera legend {
    background: #DAA62B;
}

.materia {
    background: #428C23;
}

.materia legend {
    background: #428C23;
}

.materia input[type="range"] {
    width: 10%;
}

.materia input {
    width: 4%;
}

.materia select {
    width: 5%;
}

input[type="submit"], [type="reset"] {
    background: #6495ED;
    color: white;
    font-size: 1.3em;
    border: 0;
}

